.wrapper {

	position: relative;

	
}


/*
************
* =Header
************
*/

.nav {
 float: right;
}

 .nav ul, footer ul  {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.nav li, footer li {
	display: inline;
}


.nav a {
	color: rgb(0,0,0);
}

 

.nav img {
	vertical-align: middle;
}

 .nav ul, .nav li {
	padding-top: 10px;
	padding-right: 15px;
}

button {
	color: white;
	background-color: #4285f4;
	border-radius: 3px;
	border: none;
	width: 70px;
	height: 30px;
	font-size: 13px;
	font-weight: bold;
	font-family: arial, sans-serif
}


 
 


/*
******************
* =main
******************
*/


#google {
	margin-left: 580px;
	margin-top: 80px;
}

#text {
	margin-top: 10px;
	margin-left: 625px;
	width: 32%;
	height: 35px;
	border-color: solid 1px #666;
}



#search {
	margin-left: 800px;
	margin-top: 35px;
}

.button	{
	background-color: #f2f2f2;
	color: #757575;
	padding: 10px;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	
	

}

#button_1 {
	margin-right: 5px;
}
 

/*
****************
* =footer
****************
*/


.footer {
	width: 100%;
	height: 30px;
	background-color: #f2f2f2;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
}

 .left {
 	float: left;
 	

 }
 	 

 .right	{
 	float: right;
 }

footer a {
	color: rgb(102, 102, 102);



}

#buss, #about, #ad {
	padding-left: 20px;
}

#priv, #terms, #set {
	padding-right: 20px;
}








/*
**************
* =misc
**************
*/
 



a {
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
}

a:hover {
	text-decoration: underline;
 }

